<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ivanchis's Chat</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<% if (!user) { %>
  <h2>Welcome! Please log in.</h2>
<% } else { %>
  <h2>Hello, <%= user.displayName %>.</h2>


  <ul class="pages">
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="inputMessage" placeholder="Type here..."/>
    </li>
    <li class="login page">
      <div class="form">
        <h3 class="title">Cual es su nombre arratao?</h3>
        <input class="usernameInput" type="text" maxlength="14" />
      </div>
    </li>
    <li class="controls page">
      <div id="userActive"></div>
      <div class="control up">UP</div>
      <div class="control down">DOWN</div>
    </li>
  </ul>

<% } %>  

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
</body>
</html>